
<div *ngFor="let contactArr of sortedContactList" class="scrollcontainer">
    <div class="alphabet-limiter">{{contactArr.group}}</div>
    <div *ngFor="let contactObj of contactArr.children" class="contact-row" [ngClass]="{activeContact: contactId == contactObj.id}">
        <label class="contact-card" (click)="selectContact(contactObj.id)" >
            {{contactObj.firstName}} {{contactObj.lastName}}</label>
            <label class="deleteicon" *ngIf="(contactId == contactObj.id && !isViewMode)"
            (click)="deleteContact(contactObj.id)">-</label>
        </div>
</div>