.leftpanel {
    position: relative;
    overflow-y: auto;
    max-height: 90vh;
    background-color: rgb(221 222 224);
    padding : 5% 0;
}
.container {
    margin: 2%;
    border: 1px solid rgb(0 0 0 / 25%);
    position: absolute;
}
.row {
    max-height: 90vh;
    position: relative;
}